# Confirmed from ROM: service name = vendor.keymint-strongbox, class early_hal (auto-start)
service vendor.keymint-strongbox /odm/bin/hw/android.hardware.security.keymint3-service.strongbox.nxp
    class early_hal
    user root
    group root
    interface aidl android.hardware.security.keymint.IKeyMintDevice/strongbox
    interface aidl android.hardware.security.keymint.IRemotelyProvisionedComponent/strongbox
    interface aidl android.hardware.security.sharedsecret.ISharedSecret/strongbox
    setenv LD_LIBRARY_PATH /odm/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64
    seclabel u:r:recovery:s0
