# Confirmed from ROM: service name = vendor.weaver_nxp, class hal (auto-start)
service vendor.weaver_nxp /odm/bin/hw/android.hardware.weaver-service.nxp-qti
    class hal
    user root
    group root
    interface aidl android.hardware.weaver.IWeaver/default
    setenv LD_LIBRARY_PATH /odm/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64
    seclabel u:r:recovery:s0
